.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body {
  overflow-x: hidden;
}
button {
  color: #0d7c1a;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 8px;
  border: 2px solid #0d7c1a;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background: #0d7c1a;
  border-color: #0d7c1a;
  transition: all 0.3s ease 0s;
}

button:focus {
  outline: 0;
}
